.face {
  border-radius:50%;
  width:48px;
  height:48px;
}

.face-border{
  border:1px solid #ddd;
}

.no-margin {
  margin:0;
}

.md-tile-content {
  width:100%;
}

.margin-left {
  margin-left:15px;
}

md-card {
  flex:1;
  height:100%;
  margin:0;
  background-color:#ffffff;
}

.grid-container {
	position: absolute;
	min-width:550px;
	width: 100%;
	background-color:#f5f5f5;
	padding: 15px 10%;
}

.md-toolbar-tools .md-button {
	margin:10px;
}

.grid-tile {
	transition: all .3s ease-in-out;
}

.card-container {
	position: relative;
	height:100%;
}

.md-toolbar-tools .title {
	margin:0 10px;
}

.md-padding {
	padding:15px;
}

md-list-item {
	display: block;
}

md-list-item > md-switch {
	position: absolute;
	right:0;
}

md-list-item > p, md-list-item > md-switch {
	display:inline-block;
}